<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @notification.id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Time:</strong>
  <%= @notification.time %>
</p>

<p>
  <strong>Type:</strong>
  <%= @notification.type %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
